.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.prd-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.cart {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  padding: 5px;
  margin: 0 5px;
}

.quantity-controls span {
  width: 20px;
  text-align: center;
}

.cart h3 {
  margin-top: 20px;
}
